# Documentación:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Regla global: admin revisa todo
*                           @maldoA10

# CI/CD y automatización
# Cambios aquí pueden afectar deploy y seguridad
.github/                    @maldoA10

# Dependencias críticas
package.json                @maldoA10
package-lock.json           @maldoA10
tsconfig.json               @maldoA10

# Base de datos y migraciones
# Cambios estructurales críticos
prisma/                     @maldoA10
src/migrations/             @maldoA10

# Autenticación, seguridad y sincronización
src/modules/auth/           @maldoA10
src/modules/sync/           @maldoA10

# Middlewares y configuración global
src/middleware/             @maldoA10
src/config/                 @maldoA10

# Variables de entorno (ejemplo seguro)
.env.example                @maldoA10